.container {
	border-bottom: 1px solid var(--info-block-divider-color);
	background-color: var(--info-block-bg-color);
	&::-webkit-scrollbar {
		display: none;
	}
}
.button {
	color: black;
	&.active {
		background-color: var(--button-bg-color) !important;
		color: white;
	}
}
[data-theme='dark'] {
	.button {
		color: white;
	}
}
