@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'reset.css';
@import 'vars.scss';

.container {
	max-width: var(--container-width);
	padding: 0 var(--container-padding);
	margin: 0 auto;
}
