@tailwind base;
@tailwind components;
@tailwind utilities;

@import './reset.scss';
@import './vars.scss';

body {
	background-color: hsl(
		var(--tg-theme-bg-color-h),
		var(--tg-theme-bg-color-s),
		calc(var(--tg-theme-bg-color-l) - 20%)
	);
	color: var(--tg-theme-text-color);
}
.container {
	margin: 0 auto;
	padding: 0 var(--container-padding);
	max-width: var(--container-width);
}
