@tailwind base;
@tailwind components;
@tailwind utilities;

@import './reset.css';
@import './vars.scss';

body {
	background-color: var(--tg-theme-bg-color);
	color: var(--tg-theme-text-color);
}
.container {
	margin: 0 auto;
	padding: 0 var(--container-padding);
	max-width: var(--container-width);
}
