.inputWrapper {
	display: flex;
	flex-direction: column;

	.input {
		border-radius: 12px;
		background-color: var(--info-block-bg-color);
		padding: 16px 14px;
		width: 100%;

		font-weight: 400;
	}
	.inputContainer {
		position: relative;
		width: 100%;

		.error {
			display: block;
			color: var(--negative-color);
			font-size: 12px;
			text-align: end;
		}
		&:has(.error) {
			.input {
				margin-bottom: 6px;
				border-color: var(--negative-color);
				background-color: var(--lightpink);
				&::placeholder {
					color: var(--negative-color);
				}
			}
		}
	}

	.label {
		margin-bottom: 8px;
	}
	&:has(input[data-disabled='true']) {
		.label {
			margin-bottom: 12px;
		}
		.input {
			background-color: var(--whitesmoke-color);
		}
	}
}
