.link {
	border-radius: 12px !important;
	background-color: var(--button-bg-color) !important;
	padding: 12px 6px !important;
	width: 100% !important;
	color: white !important;
	font-weight: bold !important;
	text-align: center !important;
}
