.infoBlock {
	box-shadow: var(--tg-theme-shadow);
	background-color: var(--info-block-bg-color);
	> div[data-item]::after {
		background-color: var(--info-block-divider-color);
	}
}

.title {
	color: var(--info-block-title-color);
	font-size: 0.75rem;
}
